---
const currentYear = new Date().getFullYear();
---

<footer class="border-t border-slate-800 bg-slate-950 py-8">
  <div class="container mx-auto px-4 text-center">
    <p class="text-slate-400">© {currentYear} Imanol Sanchez. Casi todos los derechos reservados.</p>
  </div>
</footer>